/******* Tags *******/

* {
  box-sizing: border-box;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 95vh;
  font-size: calc(35px);
  color: #f5f6fa;
  font-family: 'Ubuntu', monospace;
  background-color: #364680;
}

hr {
  border: 1px solid coral;
  width: 95%;
}

h2 {
  font-size: calc(32px);
  margin-bottom: 0px;
  margin-left: 40px;
}

h3 {
  font-size: calc(20px);
}

h4 {
  font-size: calc(27px);
  margin-top: auto;
  color: coral;
}

h5 {
  font-size: calc(19px);
  margin-top: 10px;
}

li {
  font-size: calc(16px);
  margin-left: 15px;
}

p {
  font-size: calc(16px);
}

div {
  overflow-y: scroll;
}

a {
  color: coral;
  font-size: calc(20px);
  padding: 8px;
}

img {
  float: right;
}

/******* Classes *******/

.main {
  width: 1200px;
}

.box, #box {
  height: 100%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.heading {
  padding: 15px;
  font-size: calc(50px);
  text-align: center;
  margin-top: 200px;
  color: #f5f6fa;
}

.intro-box {
  font-size: calc(20px);
  color: #f5f6fa;
  margin: auto;
  padding: 15px;
  margin-top: 2%;
  margin-bottom: 20%;
  width: 80%;
}

.connect-box {
  font-size: calc(25px);
  text-align: center;
  border: 1px solid black;
  width: 30%;
  line-height: 30px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  color: #f5f6fa;
  box-shadow: 0 0 9px;
  background-color: #3d4073;
}

.contact-box, #contact-box {
  font-size: calc(25px);
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  color: #f5f6fa;
  padding: 10px;
  box-shadow: 0 0 9px;
  background-color: #3d4073;
}

.exp-box, #exp-box {
  font-size: calc(25px);
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 35px;
  color: #f5f6fa;
  padding: 20px;
  box-shadow: 0 0 8px;
  width: 87%;
  background-color: #3d4073;
}

.project-block, #project-block {
  font-size: calc(25px);
  border: 1px solid black;
  margin: auto;
  width: 84%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #f5f6fa;
  padding: 27px;
  box-shadow: 0 0 8px;
  background-color: #3d4073;
}

.column {
  float: left;
  width: 100%;
}

.description {
  float: left;
  width: 100%;
  margin-left: 25%;
}

.content {
  background-color: #3d4073;
  padding: 10px;
}

.quick-links {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #364680;
  align-items: center;
  text-align: center;
}

.quick-links::before, .quick-links::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid coral;
}

.quick-links::before {
  margin-right: .25em;
}

.quick-links::after {
  margin-left: .25em;
}

.link-icons {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #364680;
  margin-top: 7%;
  align-items: center;
  text-align: center;
}

.link-icons::before, .link-icons::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid coral;
}

.link-icons::before {
    margin-right: .25em;
}

.link-icons::after {
    margin-left: .25em;
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

/*******Effects*******/

a:link {
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

h3:link {
  text-decoration: none;
}

h3:hover {
  background-color: yellow;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #3d4073;
  border-radius: 50%;
  border-top: 16px solid coral;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}