:root {
  --text-color: #f5f6fa;
  --background-color: #0a1e2f;
  --title-color: #000000;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 95vh;
  font-size: calc(35px);
  color: var(--text-color);
  font-family: 'Consolas', monospace;
  background-color: var(--background-color);
}

hr {
  border: 1px solid coral;
}

h2 {
  font-size: calc(32px);
  text-align: center;
}

h3 {
  font-size: calc(20px);
}

li {
  font-size: calc(25px);
  margin-left: 10px;
}

div {
  overflow-y: scroll;
}

a {
  color: red;
  font-size: calc(20px)
}

.box {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.link {
  color: var(--text-color);
  font-size: calc(30px);
  text-decoration: none;
}

.heading {
  padding: 15px;
  font-size: calc(50px);
  text-align: center;
  color: var(--text-color);
}

.heading2 {
  font-size: calc(25px);
  color: var(--text-color);
}

.heading3 {
  font-size: calc(25px);
  text-align: center;
  border: 5px solid coral;
  width: 400px;
  margin-left: 370px;
  margin-top: 75px;
  color: var(--text-color);
  padding: 10px;
}

.row {
  margin: 8px - 16px;
  /*border: 4px solid coral;*/
}

.row,
.row < .column {
  padding: 5px;
}

.column {
  float: left;
  width: 25%;
}

.content {
  background-color: var(--background-color);
  padding: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

h3:link {
  text-decoration: none;
}

h3:hover {
  background-color: yellow;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}