body {
	background-color: #c4bfb1;
}

h1 {
	text-align: center;
	margin-top: 150px;
	font-family: Ubuntu;
}

a:hover {
	background-color: #c295bc;
}

.container {
	margin: auto;
	width: 30%;
	padding: 10px;
	/* border: 5px solid black; */
}