<!DOCTYPE html>
<html>
  <head>
  <title> Angelo Reyes </title>
      <meta http-equiv="Content-Type" content= "text/html; charset=UTF-8">
      <link rel = "stylesheet" type = "text/css" href = "main.css"> </link>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <meta name = "viewport" content "width=device-width, initial-scale=1">
  </head>      
  <body>
      <div>
        <img class = "myPic-image pic" src = "https://angiereyes99.github.io/pics/symbol.png"  alt="" width="120" height="120"> 
      </div>        
      <div class="main">       
        <div class = "heading"> Angelo Reyes </div>
           <div class = "heading2">
              Comp Sci Major / Mathematic Minor - SF State University<br>
              Former Software Engineer Intern at OmniVision Technologies.<br>
              <p>
                  <a href="https://www.ovt.com/">
                  <img border="0" alt="W3Schools" class = "ovt-image mouse" src="https://angiereyes99.github.io/pics/ovt.jpg" width="60" height=60">                 
                  </a>
              </p>  
              Research Assistant for SFSU CoSE Twitter Spam Detection Project. <br>                                                                   
              Contact me through:<br>
           </div>
      </div>
              <p>
              <a href="https://angiereyes99.github.io/Angelo_Reyes_Resume.pdf">
                  <img border="0" src="https://angiereyes99.github.io/pics/resumePic.png" class = "mouse" width="60" height=60">                 
              </a>
              <a href="https://github.com/angiereyes99">
                  <img border="0" src="https://angiereyes99.github.io/pics/github.png" class = "mouse" width="60" height=60">  
              </a>
              <a href="https://www.linkedin.com/in/angelo-reyes">
                  <img border="0" src="https://angiereyes99.github.io/pics/linkedin.png" class = "mouse" width="60" height=60"> 
              </a>
              <a href="https://www.facebook.com/angelo.reyes.5855">
                  <img border="0" src="https://angiereyes99.github.io/pics/facebook.png" class = "mouse" width="60" height=60">
              </a>                                                                                                            
              <a href="https://twitter.com/AyooItsAngelo">
                  <img border="0" src="https://angiereyes99.github.io/pics/twitter.png" class = "mouse" width="60" height=60"> 
              </a>
              <a href="mailto:angeloreyes1180@yahoo.com">
                  <img border="0" src="https://angiereyes99.github.io/pics/emailPic.png" class = "mouse" width="60" height=60">  
              </a>
              </p>
      </body>
</html>
