:root {
  --text-color: #603b3b;
  --background-color: #50b4bf;
  --title-color: #603b3b;
}

html {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px);
  font-family: "Courier";
  color: var(--text-color);
}

.pic {
 
    top: 90%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.tag {
  position: fixed;
  font-size: 15px;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto; 
}
.link {
  color: var(--text-color);
  font-size: 20px;
  padding: 0 10px; 
}
.link-mouse {
  font-weight: 700;
}
.heading {
  padding: 15px;
  color: var(--text-color);
}

.heading2 {
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

