.white-text {
  color: white;
}
.centered-text{
    text-align: center;
  }
  
  .Courier-text{
    font-family: Courier;
  }
.container{
    background-color: #66ffff;
    width: 90vw;
    height: 90vh;
    margin: auto;
}
  
  .background{
    background-color: #ff66cc;
  }
  .centered-container{
    width: 80%;
    height: 90vh;
    margin: auto;
    background-color: #42bcf4;
}
