:root {
  --text-color: #DCD9CD;
  --background-color: #ce42f4;
  --title-color: #FFFFFF;
}

html {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px);
  font-family: "Palatino";
  color: var(--text-color);
}

.pic {
  
  margin-left: auto;
  margin-right: auto;

}

.main {
  text-align: center;
  padding-bottom: 25px;
}

.tag {
  position: fixed;
  font-size: 15px;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto; 
}
.link {
  color: var(--text-color);
  font-size: 20px;
  padding: 0 10px; 
}
.link-mouse {
  font-weight: 700;
}
.heading {
  padding: 15px;
  color: var(--text-color);
}

.heading2 {
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

